*{
    padding: 0;
    margin: 0;
}
li{
    list-style: none;
    display: inline-block;
}
/* common css end  */
/* bannar style */
.banner{
    background: url(../img/banner.png);
    padding: 100px 204px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 120px;
}
/* leagl styls  */
.leagl{
    margin-bottom: 120px;
}
/* our-clint styls  */
.our-clint {
margin-bottom: 120px;
}
/* responsive start */
/* sm  */
@media screen and (max-width:576px) {
    li{
        display: block;
    }
}
/* lg  */
@media screen and (min-width:577px) and (max-width:992px){

}