* {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
    display: inline-block;
}

a {
    text-decoration: none;
}

/* common css end  */
/* bannar style */
.banner {
    background: url(../img/banner.png);
    padding: 100px 204px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 120px;
}

.modal1 {
	margin-left: 104px;
}
/* leagl styls  */
.leagl {
    margin-bottom: 120px;
}
/* questions styls  */
.questions {
    margin-bottom: 120px;
}
/* our-clint styls  */
.our-clint {
    margin-bottom: 120px;
}
/* contact styls */
.contact{
    margin-bottom: 120px;
}
.contact .btn{
    margin: 0 auto ;
    width: 100%;
}

/* responsive start */
/* small devices responsive start */
@media screen and (max-width:576px) {
    li {
        display: block;
    }

    .banner {
        padding: 30px;
        background-size: 800px;
        background-position: center;
        margin-bottom: 50px;
    }

    .leagl {
        margin-bottom: 50px;
    }

    .bannerer-bottom input {
        margin-bottom: 10px;
    }

    .our-clint-slider .carousel-caption h5 {
        font-size: 16px;
        margin: 0;
    }

    .questions {
        margin-bottom: 50px;
    }

    .our-clint {
        margin-bottom: 50px;
    }

    .question-img {
        margin-top: 30px;
    }
    .leagl-item-box{
        border: 1px solid gainsboro;
    }
    .contact{
        margin-bottom: 50px;
    }
    .margin{
        margin-top: 30px;
    }
}

/* medium devices responsive start */
@media screen and (min-width:577px) and (max-width:992px) {
    li {
        display: block;
    }

    .banner {
        padding: 30px;
        background-size: 800px;
        background-position: center;
        margin-bottom: 50px;
    }
    .modal1 {
        margin-left: 10px;
    }
}